@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome.scss";

body{
	font-family: 'Nunito', sans-serif;
	color:#222;
}

p{
	margin:0;
}

h1{
	color:white;
	font-weight:bold;
	margin:0px 10px;
}

//SUPER INFO
.superinfo-bg{
	background-color:#122ab2;
	color:white;
}
.superinfo{
	display:flex;
	min-height:40px;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	p, a{
		margin:10px 10px;
	}
}

//HEADER -- NAV
.header-bg{
	background-color:#2c70ff;
}

.header-top{
	padding:5px 0px;
	display:flex;
	justify-content:space-between;
	align-items:center;		
	flex-wrap:wrap;
}

nav{
	a{
		color:white;	
	}
	li{
		list-style:none;
	}	
} 

// INTRO
.intro{
	font-size:3em;
	line-height:1;
	font-weight:bold;
	max-width:1140px;
	margin:0 auto;
	padding:60px 25px;
}


//SOBRE
#sobre {
		border-top:2px solid #2c70ff;
		border-bottom:2px solid #2c70ff;
		padding:60px 25px;
		max-width:1140px;
		margin:0 auto;	
		display:flex;
		flex-wrap:wrap;	
		.sobre-info{
			flex:2 1 300px;
			h2{
				font-size:3em;
				font-weight:bold;
				margin-bottom:.5em;
			}
			p{
				font-size:1.25em;
				line-height:1.4;
				margin-bottom:1em;
				color:#7c7c7c;
			}
		}
		.sobre-img{
			flex:1 1 160px;
			margin:0 10px;
		}
}

// PRODUTOS

#produtos{
	max-width:1140px;
	margin:0 auto;
	padding:60px 25px;
	h2{
		font-size:3em;
		font-weight:bold;
		margin:0 10px 60px 10px; 
	}
	.produtos{
		display:flex;
		flex-wrap:wrap;
		.produtos-item{
			flex:1;
		}
	}

}